<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Randevu_Otomasyonu.Properties.Settings.RandevuConnectionString"
            connectionString="Data Source=DESKTOP-UNB1QD5\SQLEXPRESS;Initial Catalog=Randevu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Randevu_Otomasyonu.Properties.Settings.HastaneVeriConnectionString"
            connectionString="Data Source=DESKTOP-UNB1QD5\SQLEXPRESS;Initial Catalog=HastaneVeri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>